*{margin: 0;padding: 0;box-sizing: border-box;}

#debug *{border: 1px dashed black;}


img{max-width: 100%;}

body{font-size: 0.8rem;}

:root{
    --white: #ffffff;
    --gray: #f6f5f3;
    --gray-dark: #999999;
    --black: #111;
    --orange: #ff9614;
    --purple: #4e3969;
}
.c-white{color: var(--white);}
.c-purple{color: var(--purple);}
.c-orange{color: var(--orange);}

.bg-purple{background-color: var(--purple);}
.bg-white{background-color: var(--white);}
.bg-gray{background-color: var(--gray);}

.col-1{width: calc((100%/12)*1);}
.col-2{width: calc((100%/12)*2);}
.col-3{width: calc((100%/12)*3);}
.col-4{width: calc((100%/12)*4);}
.col-5{width: calc((100%/12)*5);}
.col-6{width: calc((100%/12)*6);}
.col-7{width: calc((100%/12)*7);}
.col-8{width: calc((100%/12)*8);}
.col-9{width: calc((100%/12)*9);}
.col-10{width: calc((100%/12)*10);}
.col-11{width: calc((100%/12)*11);}
.col-12{width: calc((100%/12)*12);}

body{font-family: "Noto Sans","Roboto", Arial, Helvetica, sans-serif;}

.d-flex{display: flex;}
.f-j-c{justify-content: center;}
.f-j-s{justify-content: flex-start;}

.py-b-1_5{padding-bottom: 1.5rem;}
.py-t-1_5{padding-top: 1.5rem;}

#app_header {
    .container{
        display: flex;
        justify-content: center;
    }
    .box{padding: 0.0rem 0rem;}
    h1{color: var(--orange); font-family: "Oleo Script"; font-size: 2.6rem;}
} 

#app_main{
    .container{display: flex; flex-direction: column; align-items: center; background-color: var(--gray);}
    .recipe{
        display: flex;
        justify-content: space-between;
        padding: 0.3rem 0 1rem 0;
    }
    .type_recipe{color: var(--gray-dark); padding-top: 1rem;}
    .h1_big{font-size: 1.6rem;}
    .rates{display: flex; align-items: center; gap: 0.4rem;}
    .rate_orange{
        background-color: var(--orange);
        color: var(--white);
        border-radius: 1rem;
        padding: 0.2rem 0.6rem;
    }
    .preparation{padding: 1.5rem;}
    .preparation_inner{
        padding: 1.1rem;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    } 
    .kcal_info{position: relative;}
    .info{position: absolute; right:0;}
    .bg_kcal{
        background-color: var(--purple);
        color: var(--white);
        padding: 0.1rem 0.4rem;
        border-radius: 0.3rem;
    }
    .youtube{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* Rapporto 16:9 */
        height: 0;
        overflow: hidden; /* il contenuto eccedente viene nascosto */
    }
    .youtube iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .list_preparation{list-style: none; display: flex; flex-direction: column; gap: 0.8rem;}
    .all_preparation{padding: 1.8rem 0;}

    .row{display: flex; flex-wrap: wrap;}
    .card{
        background-color: var(--white); 
        padding: 0.2rem 0.4rem; 
        display: flex;
        justify-content: center; 
        align-items: center;
        aspect-ratio:1/1;
        border-radius: 0.8rem;    
    }
    .shares{width: 100%;}
    .icon_share{font-size: 1.2rem;}

}

@media screen and (min-width: 768px){  /* //TABLET SIZE */
    .col-md-1{width: calc((100%/12)*1);}
    .col-md-2{width: calc((100%/12)*2);}
    .col-md-3{width: calc((100%/12)*3);}
    .col-md-4{width: calc((100%/12)*4);}
    .col-md-5{width: calc((100%/12)*5);}
    .col-md-6{width: calc((100%/12)*6);}
    .col-md-7{width: calc((100%/12)*7);}
    .col-md-8{width: calc((100%/12)*8);}
    .col-md-9{width: calc((100%/12)*9);}
    .col-md-10{width: calc((100%/12)*10);}
    .col-md-11{width: calc((100%/12)*11);}
    .col-md-12{width: calc((100%/12)*12);}

    #app_header{
        .container{
            display: flex; justify-content: flex-start;
        } 
        .box{padding: 0.0rem 0 0.0rem 1rem;}    
    }
} 
@media screen and (min-width: 992px){  /* //TABLET SIZE */
    .col-lg-1{width: calc((100%/12)*1);}
    .col-lg-2{width: calc((100%/12)*2);}
    .col-lg-3{width: calc((100%/12)*3);}
    .col-lg-4{width: calc((100%/12)*4);}
    .col-lg-5{width: calc((100%/12)*5);}
    .col-lg-6{width: calc((100%/12)*6);}
    .col-lg-7{width: calc((100%/12)*7);}
    .col-lg-8{width: calc((100%/12)*8);}
    .col-lg-9{width: calc((100%/12)*9);}
    .col-lg-10{width: calc((100%/12)*10);}
    .col-lg-11{width: calc((100%/12)*11);}
    .col-lg-12{width: calc((100%/12)*12);}
}





